/* footer__________________________________________*/
footer{
    width: 100%;
    height: 60%;
    background: #e1002b;
    text-align: center;  
    align-items: center;
    }
  
  footer img {
  margin: 60px;  
  }
  .sns_logo img{
    width: 50px;
    height: 50px;
    margin: 50px 50px;
  }
  .sns_logo h4{
    color:rgba(199, 199, 199, 0.9);
    font-weight: 300;
    margin: 30px;
  }
  .sns_logo b{
    color: #000;
  }
    
  
  .sns_logo span{
    color: rgba(199, 199, 199, 0.9);
    margin: 100px;
  }
  .sns_logo p{
    color: rgba(199, 199, 199, 0.9);
    margin: 100px;
  }
  